.nav {
    @include flex-sb-c;
    padding: 3rem 0 0;
    position: absolute;
    width: Min(70rem, 85%);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    $nav: &;

    @include media-query(tablet) {
        padding: 1rem 0;
    }

    &--active {
        #{ $nav }__burger--first {
            transform: rotate(45deg);
        }

        #{ $nav }__burger--mid {
            opacity: 0;
        }

        #{ $nav }__burger--last {
            transform: rotate(-45deg);
        }

        #{ $nav }__menu {
            left: 50%;
            opacity: 1;
        } 
    }

    &__logo-img {
        display: block;

        @include media-query(tablet) {
            margin-right: 1rem;
        }
    }

    &__toggle {
        cursor: pointer;

        @include media-query(tablet) {
            display: none;
        }
    }

    &__burger {
        display: block;
        width: 20px;
        height: 2px;
        background-color: $white;
        transition: .2s ease;

        &:not(:last-child) {
            margin-bottom: 4px;
        }

        &--first {
            transform-origin: 2px 2px;
        }

        &--last {
            transform-origin: 2px 0;
        }
    }

    &__menu {
        position: absolute;
        top: 120px;
        left: -100%;
        width: 100%;
        background-color: $white;
        border-radius: .5rem;
        text-align: center;
        padding: 1.5rem 0;
        transition: .2s ease;
        transform: translateX(-50%);
        opacity: 0;

        @include media-query(tablet) {
            position: initial;
            background-color: transparent;
            transform: none;
            transition: none;
            opacity: 1;
            @include flex-sb-c;
        }
    }

    &__list {
        @include media-query(tablet) {
            display: flex;
        }
    }

    &__list, &__dropdown {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        font-family: $heading-text;
        font-weight: 600;
        color: $main-text-color;
        padding: .8rem;
        position: relative;
        cursor: pointer;

        @include media-query(tablet) {
            color: $light-gray;
            font-size: .88rem;

            &:hover, &--active {
                color: $white;
                text-decoration: underline;
                text-decoration-thickness: 2px;
            }
        }

        &--active {
            #{ $nav }__dropdown {
                max-height: 300px;
            }

            #{ $nav }__caret {
                transform: rotate(180deg);
                
                @include media-query(tablet) {
                    color: $white;
                }
            }

            #{ $nav }__link {
                opacity: 1;
            }
        }

        &--login {
            list-style: none;

            &::after {
                content: none;
            }
        }
    }

    &__caret {
        color: $cta-bg-onhover;
        margin-left: .4rem; 
        transition: .2s ease-out;

        @include media-query(tablet) {
            color: $light-gray;
        } 
    }

    &__dropdown {
        background-color: $light-gray;
        width: 90%;
        margin: 0 auto;
        border-radius: .5rem;
        transition: .2s ease-out;
        max-height: 0;
        overflow: hidden;
        padding: 0 1rem;

        @include media-query(tablet) {
            background-color: $white;
            width: 140px;
            text-align: left;
            position: absolute;
            top: 3.5rem;
        }
    }

    &__dropdown-item {
        margin: 1rem 0;
    }

    &__link {
        font-family: $heading-text;
        font-size: .9rem;
        font-weight: 600;
        color: $mobile-link-color;
        text-decoration: none;
        display: block;

        @include media-query(tablet) {
            font-size: .88rem;
            font-weight: 400;
        }

        &:hover {
            font-weight: 600;
            color: $footer-bg;
        }
    }

    &__divider {
        @include media-query(tablet) {
            display: none;
        } 
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media-query(tablet) {
            flex-direction: row;
        }
    }
}