@import "variables";
@import "mixins";
@import "nav";
@import "hero";
@import "footer";

html {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    margin: 0;
}

* {
    box-sizing: inherit;
}

//global classes
.heading-text {
    font-family: $heading-text;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $main-text-color;

    @include media-query(tablet) {
        font-size: 1.4rem;
    }

    &--white {
        color: $white;
        font-size: 2.2rem;
        line-height: 2.8rem;
    }

    &--centered {
        text-align: center;
    }

    &--lg {
        @include media-query(tablet) {
            font-size: 2.5rem;
        }

        @include media-query(desktop-sm) {
            font-size: 3.5rem;
        }
    }

    &--md {
        @include media-query(tablet) {
            font-size: 2rem;
        }
    }
}

.body-text {
    font-family: $heading-text;
    line-height: 1.8rem;
    color: $body-text-color;

    @include media-query(tablet) {
        font-size: .88rem;
    }

    &--landing {
        font-size: 1.1rem;

        @include media-query(tablet) {
            font-size: 1rem;
        }
    }

    &--white {
        color: $white;
    }

    &--gray {
        color: $footer-text;
    }
}

.button {
    outline: none;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    font-family: $body-text;
    font-weight: 600;
    font-size: .9rem;
    background: none;
    color: $main-text-color;
    cursor: pointer;

    &:not(:last-child) {
        margin-right: .5rem;
    }

    &--primary {
        color: $cta-text-color;
        background: $white;
    }

    &--secondary {
        color: $white;
        border: 1px solid $white;
        background: none;
    }

    &--signup {
        color: $white;
        background: linear-gradient(300deg, #ff3d54, #ff8f70);
        padding: .8rem 2rem;

        @include media-query(tablet) {
            color: $cta-text-color;
            background: $white;
            font-size: .88rem;
        }
    }
}

.container {
    padding: 4rem 0;

    // @include media-query(tablet) {
    //     padding: 4rem 3rem;
    // }

    // @include media-query(desktop-sm) {
    //     padding: 4rem;
    // }
}

.grid {
    display: grid;
    grid-gap: 2rem;
    width: Min(1120px, 85%);

    &--two-col {
        margin: 4rem auto;
        align-items: center;

        @include media-query(tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &--five-col {
        margin: 2rem auto;

        @include media-query(tablet) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-query(desktop-sm) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__img {
        display: block;
        width: Min(400px, 100%);
        margin: 0 auto;
        
        &--right {
            order: 0;

            @include media-query(tablet) {
                order: 1;
            }
        }

        &--abs {
            position: absolute;
            top: -200px;
            left: 50%;
            transform: translateX(-50%);

            @include media-query(tablet) {
                top: 50%;
                left: 0;
                transform: translateY(-50%) scale(1);
            }

            @include media-query(desktop-sm) {
                left: 4rem;
                transform: translateY(-50%) scale(1.3);
            }

            @include media-query(desktop-md) {
                left: 9rem;
            }
        }
    }

    &__abs-image-holder {
        margin-bottom: 3rem;

        @include media-query(tablet) {
            margin-bottom: 0;
        }
    }
}

.text-block {
    text-align: center;
    order: 1;

    @include media-query(tablet) {
        text-align: left;
    }

    &__wrapper {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
}

.banner {
    background-image: url("/images/bg-pattern-circles.svg"), linear-gradient($banner-gradient);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  
    top -260px center,
    center;
    // padding: 0 2rem;
    height: 600px;
    position: relative;
    margin-top: 10rem;
    border-radius: 0 6rem 0 6rem;
    @include flex-c-c;

    @include media-query(tablet) {
        height: initial;
        padding: 3rem 2rem;
        background-position: 
        top -260px left -150px, 
        center;
        margin-top: 0;
    }

    @include media-query(desktop-sm) {
        margin: 5rem 0;
        padding: 5rem 2rem;
    }

    .grid--two-col {
        margin: 0;
    }
}

.attribution { 
    font-family: $heading-text;
    font-weight: 600;
    font-size: 11px; 
    text-align: center;
    padding: 1rem;

    a { color: hsl(228, 45%, 44%); }
}